<center ng-controller='SpentCtrl'>
  <form>
    <label>Category</label>
    <select ng-model='spending.category'></br>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
    </select>
    <label>$</label>
    <input type='number' ng-model='spending.money'>
    <input hidden type='number' ng-model='spending.time' value='{{dateTime}}'>
    <label>Privileged Purchase?</label>
    <input type='checkbox' ng-model='spending.privilege'></br>
    <button ng-click='saveData(spending)'>boom</button>
  </form>
  <p>{{output}}</p>

  <p>{{ spending }}</p>

  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>time submitted</th>
        <th>category</th>
        <th>money spent</th>
        <th>privilege?</th>
      </tr>
    </thead>
    <tbody>
      <tr scope='row' ng-repeat='spenditure in spenditures'>
        <td>{{spenditure.time}}</td>
        <td>{{spenditure.category}}</td>
        <td>{{spenditure.money}}</td>
        <td>{{spenditure.privilege}}</td>
      </tr>
    </tbody>
  </table>
</center>
