<center ng-controller='SpentCtrl'>
  <h1>Check it, yo</h1>
  <form>
    <label>Title</label>
    <input ng-model='spending.title'>
    <label>Category</label>
    <select ng-model='spending.category'></br>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
    </select>
    <label>$</label>
    <input type='number' ng-model='spending.money'>
    <input hidden type='number' ng-model='spending.time' value='{{dateTime}}'>
    <label>Privileged Purchase?</label>
    <input type='checkbox' ng-model='spending.privilege'></br>
    <button ng-click='saveData(spending)'>boom</button>
  </form>
  <p>{{output}}</p>

  <p>{{ spending }}</p>

  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>title</th>
        <th>time submitted</th>
        <th>category</th>
        <th>money spent</th>
        <th>privilege?</th>
      </tr>
    </thead>
    <tbody>
      <tr scope='row' ng-repeat='spenditure in spenditures | filter:search | orderBy:sortBy'>
        <td>{{spenditure.title}}</td>
        <td>{{spenditure.time}}</td>
        <td>{{spenditure.category}}</td>
        <td>{{spenditure.money}}</td>
        <td>{{spenditure.privilege | check}}</td>
      </tr>
    </tbody>
  </table>
  </br>
  Search: <input ng-model='search'>
  Sort:
    <select ng-model="sortBy">
      <option value='title'>Title</option>
      <option value='time'>Time</option>
      <option value='category'>Category</option>
      <option value='time'>Time</option>
    </select>
</center>
